{% extends 'base.html' %}
{% block head %}


    
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/piccapture.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/2fc7fc8f56.js" crossorigin="anonymous"></script>
    <title>Panverification</title>

    {% endblock head %}
    {% block body %}
    

    <section id="pic-capture">
        <div>
            <h5 style="color: red;">There was an error in your pan verification, try again</h5>
            <h5>PAN VERIFICATION</h5>
            <form action="" method="post" enctype="multipart/form-data">
                <video playinline autoplay id="video"></video>
                <div class="controller">
                    <button type='submit' id="snap" style="border: 0ch; background-color: transparent;">
                        <i class="fas fa-camera favi"></i>
                    </button>
                </div>
            </form>
        </div>
    </section>
    <div style='display: none;'>
        <canvas id="canvas" width="640" height="480"></canvas>
    </div>
    <script src="{{url_for('static', filename = 'index.js')}}"></script>
    
    {% endblock body %}