{% extends 'base.html' %}
{% block head %}
<title>Deatils</title>

  <link rel="stylesheet" href="../static/styles/style.css">
  <link rel="stylesheet" href="../static/styles/user_sign.css">

    
{% endblock head %}

{% block body %}


  

  




  <div class="body">
    <div class="form">
      <form action="" method="post" enctype="multipart/form-data">

        <label for="f-name" class="Heading">Name{{name}} &nbsp</label><br>
        

        

        <label for="pan-card-number" class="Heading">Pan card Number {{pan}} &nbsp</label><br>
        

        <label for="aadhar-card-number" class="Heading">Aadhar card Number {{aadharnumber}} &nbsp</label><br>
        

        <label for="mobile-number" class="Heading">Aadhar mobile Number {{phnumber}} &nbsp</label><br>
        
        
        <label for="password" class="Heading">Bank details lorem ipsum</label><br>
        
        

        
        
      </form>
    </div>
  </div>




        
{% endblock body %}