@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.form
{
    width: 50%;
    padding: 10%;

    border: 1px solid black;
}
.favi
{
    color: #3FA3E3;
    font-size: 3rem;

    display: flex;
    justify-content: center;
    margin: auto;
}
.message
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 24px;
    word-wrap: break-word;
    text-align: center;
    text-transform: uppercase;

    margin-top: 20px;
}

button
{
    margin: 20px 20px 0 0;
}
.done
{
    background: #3FA3E3;
    border-radius: 36px;

    width: 100px;

    color: white;

    display: flex;
    justify-content: center;
    margin: auto;
}
@media screen and (max-width: 800px)
{
    .form
    {
        width: 80%;
    }
}